body {
    /* 1D1D1D */
    background: #000 url(//unsplash.it/1920/1200?image=537&gravity=south) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.vertical-offset-100 {
    padding-top: 200px;
}

.panel {
    background: #2f2f2f; !important;
}

.btn {
    color: #f3ffea; !important;
}

.btn-lg {
    background: #00b0ff; !important;
}

.checkbox {
    color: #f3ffea; !important;
}

input.btn-lg {
    background: #00b0ff; !important;
}

